<%- model_class = Policy -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @policy.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:shortdesc) %>:</strong></dt>
  <dd><%= @policy.shortdesc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:longdesc) %>:</strong></dt>
  <dd><%= @policy.longdesc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:monthlypremium) %>:</strong></dt>
  <dd><%= @policy.monthlypremium %></dd>
  <dt><strong><%= model_class.human_attribute_name(:annualpremium) %>:</strong></dt>
  <dd><%= @policy.annualpremium %></dd>
  <dt><strong><%= model_class.human_attribute_name(:policylimit) %>:</strong></dt>
  <dd><%= @policy.policylimit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exclusionperiod) %>:</strong></dt>
  <dd><%= @policy.exclusionperiod %></dd>
  <dt><strong><%= model_class.human_attribute_name(:minretentionperiod) %>:</strong></dt>
  <dd><%= @policy.minretentionperiod %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              policies_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_policy_path(@policy), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              policy_path(@policy),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
